---
# Only the main Sass file needs front matter (the dashes are enough)
---

html {
  background: #47352B;
  background: radial-gradient(#47352B, #2B2118);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(51,51,51);
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 600px) { 
  body { 
    background: url(https://googledrive.com/host/0B4Bh1nsp-UlMVDBkZHhBeUY4SDg/tools_900.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) { 
  body { 
    background: url(https://googledrive.com/host/0B4Bh1nsp-UlMVDBkZHhBeUY4SDg/tools_1400.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

h1 {
  font-weight: 400; 
  letter-spacing: .1em;
  margin-bottom: .25em;
  text-transform: uppercase;
}

p {
  margin-bottom: .4em;
}

ul {
  list-style-type: none;
}

a, a:visited {
  color: rgba(255,255,255,1);
  transition: color .1s ease-in-out;
}

a:hover, a:target {
  color: rgba(255,255,255,.8); 
}

/* Layout */
html {
  height: 100vh;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

main {
  text-align: center;
  text-shadow: 3px 2px 4px rgba(0,0,0,.8);
}

footer {
  bottom: .5em;
  opacity: .6;
  position: absolute;
  right: .5em;
}
