<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:image" content="{% if page.hero-image %}{{ site.url }}/assets/content/{% if page.collection %}{{ page.collection }}{% else %}pages{% endif %}/{{ page.title | slugify }}/{{ page.hero-image }}{% else %}{{ site.url}}/assets/layout/default_og_image.jpg{% endif %}" />

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.baseurl }}/favicons/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/favicons/safari-pinned-tab.svg" color="#63a65b">
	<meta name="theme-color" content="#63a65b">

	<link href="https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,400i,700,700i" rel="stylesheet">
	<style type="text/css">
		:root {
			--color-main: {% if page.accent_color %}{{ page.accent_color }}{% else %}#63A65B{% endif %};
		}
	</style>
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	{% if page.style %}
		<style type="text/css">
			{{ page.style }}
		</style>
	{% endif %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-40063352-2', 'auto');
		ga('send', 'pageview');
	</script>

</head>