.archive-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.archive-list li {
	margin: 0;
}

.archive-item .archive-link {
	border-bottom: 1px solid $color-gray;
	color: inherit;
	display: flex;
	flex-wrap: wrap;
	padding: 2em 1em; 
	position: relative;
	transition: background .1s ease-in-out;
}

@media (min-width: $bp-medium) {
	.archive-item .archive-link {
		flex-wrap: nowrap; 
	}
}

.archive-item:last-of-type .archive-link {
	border: 0;
}

.archive-item .archive-link:hover,
.archive-item .archive-link:target {
	background: rgba(black, .05);
	text-decoration: none;

}

.archive-image {
	margin: 0 1em 1em 0;
	max-width: 100%;
}

@media (min-width: $bp-medium) {
	.archive-image {
		margin: 0 2em 0 0;
		max-width: 30%;
	}
}


.archive-info {
	p {
		margin-bottom: 0;
	}

}

.archive-list.posts h3{
	margin: 0 0 .2em;
}

.archive-list.projects h3 {
	font-family: $font-primary;
	font-size: 1.2em;
	font-weight: $font-primary-weight-heavy;
	margin: 0 0 .2em;
}

.archive-list .archive-subtitle {
	font-style: italic;
	margin-bottom: 1em; 
}

.archive-list.projects .archive-subtitle {
	font-size: .9em;
}

