h1, h2, h3, h4, h5, h6 {
  margin: 2.3em 0 .7em;
}
h1, h2, h3 {
  font-weight: $font-normal; 
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h4, h5, h6 {
  font-size: 1.4em;
  font-weight: $font-normal;
}

p, ol, ul, blockquote, code {
  color: $color-gray;
  line-height: 1.5;
  font-size: 1.2em;
  margin: 1.5em 0;
}

p.highlight {
  color: $color-black;
  font-size: 1.6em;
}

ol, ul {
  padding-left: 2em;
}

img {
  max-width: 100%;
}

a, a:visited {
  color: $color-secondary;
  text-decoration: none;
}
a:hover, a:target {
  text-decoration: underline;
}

pre {
  background: rgba($color-primary, .2);
  padding: 1em 2em;
}

::selection {
  background: rgba($color-green, .6);
  color: black;
}