.archive-navigation {
	border-top: .5em solid $color-primary;
	border-top: .5em solid var(--color-main);
	display: flex;
	margin-top: 4em;
	padding: 1.6em 0;

	a {
		color: $color-gray;
	}

	.next {
		margin-left: auto;
	}
}

.browser-example {
	position: relative;

	img {
		@include box-shadow;
	}

	.desktop {
		margin-bottom: 2em;
	}

	.mobile {
		display: block;
		margin: 0 auto;
		width: 70%;
	}

	@media (min-width: $bp-medium) {

		img {
			margin: 0;
		}

		.desktop {
			transform: translateX(-2rem);
			width: 90%;
		}

		.mobile {
			display: inline;
			position: absolute;
			right: -2rem;
			bottom: -1em;
			width: 12em;
		}
	}
}