.archive-navigation {
	border-top: .5em solid $color-primary;
	border-top: .5em solid var(--color-main);
	display: flex;
	margin-top: 4em;
	padding: 1.6em 0;

	a {
		color: $color-gray;
	}

	.next {
		margin-left: auto;
	}
}

.browser-example {
	position: relative;

	img {
		@include box-shadow;
		margin: 0;
	}

	.desktop {
		margin-bottom: 2em;
		transform: translateX(-1rem);
		width: 95%;
	}

	.mobile {
		display: inline;
		position: absolute;
		right: -1rem;
		bottom: -1em;
		width: 8em;
	}

	@media (min-width: $bp-medium) {

		img {
			margin: 0;
		}

		.desktop {
			transform: translateX(-1rem);
			width: 90%;
		}

		.mobile {
			right: -2rem;
			width: 12em;
		}
	}
}

pre {
	overflow-X: scroll;
}

.homepage-bio {
	.homepage-photo {
		text-align: center;
	}
	img {
		@include box-shadow;
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}

	@media (min-width: 800px) {
		display: flex;
		.homepage-content {
			width: 70%;
		}
		.homepage-photo {
			text-align: left;
			padding-left: 1em;
			width: 30%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}