/* Buttons */
a.button,
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: $color-secondary;
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  margin-bottom: .5em;
  margin-right: .5em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none !important;
  transition: background .1s ease-in-out;
  white-space: nowrap; 
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: rgba($color-secondary, .8);
  outline: 0; 
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $color-primary;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: rgba($color-primary, .8);
  border-color: rgba($color-primary, .8);
}

/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  border: 1px solid $color-gray;
  border-radius: 0;
  box-shadow: none;
  font-size: .8em;
  height: 2.2em;
  margin-bottom: .8em;
  padding: 6px 1em;
  min-width: 60%;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}
textarea {
  min-height: 8em;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 100%;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid rgba($color-secondary, .5);
  outline: 0; 
}
label,
legend {
  display: block;
  font-weight: normal; 
  margin-bottom: .5rem;
}
fieldset {
  border-width: 0; 
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline; 
}
label > .label-body {
  display: inline-block;
  font-weight: normal; 
  margin-left: .5rem;
}
