.site-header {
  background: white;
  padding: 0; 
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
}
@media (min-width: $bp-medium) {
  .site-header {
    background: none;
    display: flex;
  }
}

.site-title {
  font-family: $font-primary;
  font-weight: $font-primary-weight-heavy;
  font-size: 1.2em;
  line-height: 1.4rem;
  margin: 0;
  padding: 1em $padding;
}
.site-title span {
}
.site-title a,
.site-title a:visited {
  color: $color-black;
  transition: opacity .15s ease-in-out;
  text-decoration: none;
}
.site-title a:hover,
.site-title a:target {
  opacity: .7;
}

.site-navigation ul {
  line-height: 1em;
  margin: 0 0 1em !important;
  padding: 0;
}

.site-navigation ul li {
  display: inline;
}

.site-navigation a,
.site-navigation a:visited {
  color: $color-gray;
  font-size: .9em;
  display: inline-block;
  padding: .3em 1em;
  transition: opacity .1s ease-in-out;
}

.site-navigation a.active,
.site-navigation a.active:visited {
  text-decoration: underline;
}

.site-navigation a:hover,
.site-navigation a:target {
  opacity: .6;
  text-decoration: none;
}

@media (min-width: $bp-medium) {

  .site-title a,
  .site-title a:visited,
  .site-navigation a,
  .site-navigation a:visited {
    color: white;
  }

  .site-navigation {
    margin: 0 2.5rem 0 auto;
    padding-top: 1em;

  }
}
