/* Layout */
 
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--color-main);
  background: radial-gradient(var(--color-main), #000000) no-repeat center center;
  background-attachment: fixed;
  background-size: scroll;
	font-size: 16px;
  margin: 0;
}

@media (min-width: $bp-medium) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px
  }
}

@media (min-width: $bp-large) {
  body {
    font-size: 20px
  }
}

/* Figures and images */

figure {
  margin: 4em 0;
}

figcaption {
  margin: .5em 0 1em;
  text-align: center;
}

img {
  border-style: none;
  max-width: 100%
}

/* Set widths and margins */

.content-wrapper {
  background: white;
  position: relative;
}

.page-content {
  max-width: 40em;
  margin: 0 auto;
  padding: 3em 0;
  width: 86%;
}

.site-footer {
  background: transparent;
  position: relative;
  width: 100%;
}

.site-footer p {
  color: white;
  max-width: 40em;
  margin: 0 auto;
  padding: 3em 0 2em;
  text-align: right;
  width: 86%;
}

.site-footer a {
  color: white;
}

.top-slant,
.bottom-slant {
  position: absolute;
  width: 100%;
  height: 3vw;
}

.top-slant {
  bottom: 0;
}

.bottom-slant {
  top: 0;
}


