.page-header {
  background: #3f362d;
  background: linear-gradient(to bottom, #3b342d, #463c32) no-repeat center center fixed; 
  background-size: cover;
  background-attachment: fixed;
  margin: 0 0 3em;
  min-width: 100%;
  padding: 13em $padding 6em;
  width: auto;
}

@media (min-width: $bp-medium) {
  .page-header {
    padding: 10em $padding 8em;
  }
}

.page-title {
  color: white;
  margin: 0;
  padding: 0 2%;
  text-align: center;
}

@media (min-width: 800px) {
  .page-title {
    font-size: 3.6em;
    padding: 0 16%;
  }
}

.collection-posts .page-title {
  font-size: 2em;
}

.page-header-date {
  color: white;
  font-size: 1.6em;
  font-style: italic;
  font-weight: $font-primary-weight;
  margin: .5em 0 0;
  text-align: center;
}