$font-primary: "Open Sans", Arial, sans-serif;
$font-primary-weight: 400;
$font-primary-weight-heavy: 700;
$font-secondary: "Alfa Slab One", Arial, sans-serif;
$font-secondary-weight: 400;
$font-secondary-weight-heavy: 400;

body {
  color: $color-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: $font-secondary-weight-heavy;
  line-height: 1.1;
  margin-top: 1.5em;
}
h1, h2 {
}
p, ul, ol, blockquote {
  font-family: $font-primary;
  font-weight: $font-primary-weight;
  line-height: 1.5;
  margin-bottom: 1.4em;
  a:hover, a:target {
    text-decoration: underline;
  }
}
p {
  margin-top: 0;
}

ul, ol {
  padding-left: 1.8em;
}
blockquote {
  border-left: .6em solid $color-primary;
  font-style: italic;
  margin-left: .5em;
  padding-left: .7em;
  em {
    font-style: normal;
  }
}
pre {
  padding: $padding/2 $padding;
}
code {
  font-family: "Courier New", monospace;
  font-size: .9em;
}