$font-primary: "Open Sans", Arial, sans-serif;
$font-primary-weight: 400;
$font-primary-weight-heavy: 700;
$font-secondary: "Merriweather", Times, serif;
$font-secondary-weight: 700;
$font-secondary-weight-heavy: 700;

html {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: $leading;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $color-black;
}

b, strong {
  font-weight: $font-primary-weight-heavy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: $font-secondary-weight-heavy;
  line-height: 1.1;
  margin: 2.3em 0 .7em;
}

h1, h2, h3 {
  font-weight: $font-normal; 
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4, h5, h6 {
  font-size: 1.4em;
  font-weight: $font-normal;
}

p, ul, ol {
  color: $color-gray;
  font-family: $font-primary;
  font-size: 1.2em;
  font-weight: $font-primary-weight;
  margin: 1.5em 0;
}

p {
  margin-top: 0;
}

p.highlight {
  color: $color-black;
  font-size: 1.6em;
}

ul, ol {
  padding-left: 2em;
}

li {
  margin-bottom: 1em;
}

blockquote {
  border-left: .6em solid $color-primary;
  color: $color-gray;
  font-family: $font-primary;
  font-style: italic;
  font-weight: $font-primary-weight;
  margin-left: .5em;
  padding-left: 1.5em;
  em {
    font-style: normal;
  }
}

pre {
  background: rgba($color-primary, .2);
  font-family: "Courier New", monospace;
  margin: 2.7em 0;
  padding: $padding/2 $padding;
}

code {
  background: rgba($color-primary, .2);
  font-family: "Courier New", monospace;
  font-size: .9em;
  padding: .2em .3em 0;
}

pre > code {
  background: none;
  padding: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a, a:visited {
  color: $color-primary;
}

a:hover, a:target {
  text-decoration: underline;
}

a:hover, a:target {
  text-decoration: underline;
}

a:active,
a:hover {
  outline-width: 0;
}

::selection {
  background: rgba($color-green, .6);
  color: black;
}