$padding: 3rem;

$bp-medium: 680px;
$bp-large: 1000px;

$font-light: 300;
$font-normal: 300;
$font-heavy: 700;

$color-green: #63A65B;
$color-blue: #5464AB;
$color-orange: #C99143;
$color-purple: #9375AB;
$color-red: #C7786C;

$color-primary: $color-green;
$color-secondary: $color-blue;

$color-white: white;
$color-gray: rgb(100,100,100);
$color-black: rgb(50,50,50);