$padding: 3rem;

$bp-medium: 680px;
$bp-large: 1000px;

$font-light: 300;
$font-normal: 300;
$font-heavy: 700;

$color-primary: #2F8F24; /* green */
$color-secondary: #5464AB; /* blue */

$color-white: white;
$color-gray: rgb(100,100,100);
$color-black: rgb(50,50,50);