<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.title | slugify }}{% if page.collection %} collection-{{ page.collection }}{% endif %}">

    <header id="hero-image" class="page-header"> 

      <div class="nav-bar">

        <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1> 
        
        <nav class="site-navigation">

          <ul>{% 
            include pages_list.html %}
          </ul>

        </nav>
        
      </div>

      <div class="page-title-wrapper">
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.collection == 'posts' %}<div class="page-header-date">{{ page.date | date: '%B %d, %Y' }}</div>{% endif %}
      </div>

    </header>

    <main class="page-content">

    {{ content }}

    </main>

{% include footer.html %}
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <script>
      var x_colors = {{ page.x_colors }};
      var variance = Math.floor((Math.random() * 40) + 40)/100;
      function addTriangleTo(target) {
        var pattern = Trianglify({
          width: window.innerWidth,
          height: window.innerHeight,
          x_colors: x_colors,
          variance: variance
        });
        target.style['background-image'] = 'url(' + pattern.png() + ')';
      }
      addTriangleTo(document.getElementById('hero-image'));
      window.addEventListener("resize", function() {
        addTriangleTo(document.getElementById('hero-image'));
      });
    </script>

  </body>

</html>