<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main>


      <header class="page-header" style="background-image:url({{ site.baseurl }}/images/heroes/{{ page.hero-image }})"> 

        {% include header.html %}


        <h1 class="page-title">{{ page.title }}</h1>
      </header>

      <section class="page-content">

        {{ content }}

      </section>

    </main>

    {% include footer.html %}
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script> -->
    <!-- <script src="{{ site.basurl }}/js/main.js"></script> -->

  </body>

</html>