---
layout: default
---
	<div class="homepage-bio">
		<div class="homepage-photo">
			<img src="{{ site.baseurl }}/assets/content/rip_square.jpg" alt="Ryan A. Ripley with a man bun and dark glasses." />
		</div>
		<div class="homepage-content">{{ content }}</div>
	</div>


	<h3>Contact me</h3>

	<ul>
		<li>Email <a href="mailto:ryanaripley@gmail.com">ryanaripley@gmail.com</a></li>
		<li>Twitter <a href="https://twitter.com/ryanaripley">@ryanaripley</a></li>
		<li>CodePen <a href="http://codepen.io/ryanaripley/">ryanaripley</a></li>
		<li>GitHub <a href="https://github.com/ryanaripley">ryanaripley</a></li>
	</ul>