---
layout: default
---
	{{ content }}
		<ul class="archive-list">
			<li class="archive-item">
				<a href="#0">
					<figure class="archive-image">
						<img src="http://placekitten.com/400/300" />
					</figure>
					<div class="archive-info">
						<h3>Banfill-Locke Center for the Arts</h3>
						<div class="archive-tags">Logo design, WordPress, CRM integration</div>
						<div class="archive-description">Website built for a nonprofit art gallery in Fridley, MN.</div>
					</div>
				</a>
			</li>
		</ul>


