---
layout: default
---
	{{ content }}
		<ul class="archive-list projects">{% for project in site.projects 
		%}<li class="archive-item">
				<a href="{{ project.url }}">
					<figure class="archive-image">
						<img src="{{ site.baseurl }}/assets/content/{{ project.collection }}/{{ project.title | slugify }}/{{ project.thumbnail }}" />
					</figure>
					<div class="archive-info">
						<h3>{{ project.title }}</h3>
						<div class="archive-subtitle">{{ project.skills }}</div>
						<div class="archive-description">{{ project.blurb }}</div>
					</div>
				</a>
			</li>{% endfor 
	%}</ul>



